/* ================================Menu========================================*/
#menu a {
    font-size: 18px;   
    font-weight:bold;
    color: #3f3f3f;

}
/* ================================Carrusel imagenes========================================*/
.carousel-inner {

  height: 39rem ;
    

}
/* ================================Login========================================*/





/* ================================Register========================================*/
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }

/* ================================Menu Cliente========================================*/

.menu-cl{
  color: black;
  border-left: 10px solid rgb(61, 61, 61);
}

.menu-cl:hover{
  color: white;
  background-color: rgb(61, 61, 61);
}

.firma{
  border: 2px solid #000;
}

/* ================================Color Background========================================*/

.bgstandar{
  background-color: #87CEFA;
}

.bg-aboutus{
  background-image: linear-gradient(rgba(67, 170, 255, 0.5), rgba(0, 4, 255, 0.65)),
                    url("../img/slider2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.bg-main{
  background: linear-gradient(rgb(163, 211, 241), rgba(135, 206, 250));
}

.logo{
  width: 75px;
}